<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Criar Novo Livro</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.register') }}">Registrar</a></li>
                <li><a href="{{ url_for('books.index') }}">Lista de livros</a></li>
                <li><a href="{{ url_for('books.create') }}">Cadastrar livros</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Adicionar um Novo Livro</h2>
            <form method="POST" action="{{ url_for('books.create') }}">
                <div>
                    <label for="title">Título do Livro:</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div>
                    <label for="author">Autor:</label>
                    <input type="text" id="author" name="author" required>
                </div>
                <button type="submit">Salvar Livro</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Sistema de Reserva de Livros</p>
    </footer>
</body>
</html>
