<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Reserva de Livros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sistema de Reserva de Livros!</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.register') }}">Registrar</a></li>
                <li><a href="{{ url_for('books.index') }}">Lista de livros</a></li>
                <li><a href="{{ url_for('books.create') }}">Cadastrar livros</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <p>Acesse a área de login ou registre-se para começar a reservar livros!</p>
    </section>
    
    <footer>
        <p>&copy; 2024 Sistema de Reserva de Livros</p>
    </footer>
</body>
</html>
